div{
    margin: 0;
}

footer{
    background-color: rgb(210, 231, 250);
}

article{
    background-color: rgb(170, 250, 250);
    display: flex;
    /* flex-direction: row; */
    height: 400px;
    align-items: flex-start;
    flex-flow: column nowrap;
}

section{
    background-color: aliceblue;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

#sect1{
flex: 50%;
}

#sect2{
flex: 30%;
}

#Tema1h3{
    position: relative;
    padding-bottom: 5px;
}

#Tema1divPrinc{
    background-color: aliceblue;
    margin: 3%;
    width: auto;
    height: auto;
    padding: 10px;
}

#Tema1div{
    border: 0px outset rgb(171, 243, 219);
  background-color: aliceblue;
  text-align: center;
  margin: 3%;
    width: auto;
    height: auto;
    padding: 10px;
}

#principal{
    border: 0px outset rgb(171, 243, 219);
  background-color: aliceblue;
  text-align: center;
  margin: 3%;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: justify;
}

#Tema2h2{
    text-align: center;
}

#atributos{
    text-align: center;
}

#Tema2Header{
    text-align: center;
    border-bottom: 4px;
    margin: 5px;
    border-style: inherit;
}

#ref{
    text-align: center;
}

#Tema2Article{
    background-color: rgb(170, 250, 250);
    display: flex;
     flex-direction: row; 
     height: 1500px;
    align-items: flex-start;
    flex-flow: row wrap;
}

#Tema2Section{
    background-color: aliceblue;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

#Tema2footer{
    position: relative;
}

#R1titulo{
    text-align: center;
}

#AutorArticle{
    background-color: rgb(170, 250, 250);
    display: flex;
    /* flex-direction: row; */
    height: 720px;
    align-items: flex-start;
    flex-flow: row wrap;
}

#AutorSection{
    background-color: rgb(96, 247, 171);
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
#pie{
    text-align: center;
    border-style: groove;
    width: max-content;
}
#AutorFooter{
    text-align: center;
    align-items: center;
}
#AutorHeader{
    text-align: center;
}

#texto{
    text-align: center;
}

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: black;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook2{
    background: #2E406E;
}

.icon.twitter{
    background: #339DC5;
}

.icon-instagram{
    background: #3F60A5;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1 rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

aside{
    background-color: burlywood;
}